# ignore IDE files
.idea/
.mamba/
this_studio.code-workspace

# envs
envs/*

# project files and folders
*__init__
*__pycache__
*.log
.DS_Store
*.ckpt
*.db
*.tar.gz
*.litbin
/lightning_logs/
/mlruns/

# images
*.png

# sphinx docs
*.html
/docs/build/
/docs/_sources/
/docs/_static/
/docs/.doctrees/
/docs/.buildinfo
/docs/searchindex.js
/docs/objects.inv
/docs/*.rst


# scripts
on_start_kaggle.sh
