# ignore IDE files
.idea/
.mamba/
this_studio.code-workspace

# envs
envs/*

# project files and folders
*__init__
*__pycache__
*.log
.DS_Store
*.ckpt
*.db
*.tar.gz
*.litbin
/lightning_logs/
/mlruns/
/SkiNet/Utils/claude_prompts
/SkiNet/Utils/claude_answers

# images
*.png
!docs/source/_static/model_selection/*.png

# sphinx docs
*.html
/docs/build/
/docs/_build/
/docs/_sources/
/docs/_static/
/docs/.doctrees/
/docs/.buildinfo
/docs/searchindex.js
/docs/objects.inv
/docs/*.rst


# scripts
on_start_kaggle.sh
docs/source/gpu_performance.md
workflow_guide.md
pytest.ini
SkiNet/ML/configs/data_configs/isic2017dataset_config/__init__.py
.bash_history
